{
  "presets": [ "react-native" ],
  "env": {
    "production": {
      "plugins": ["transform-remove-console"]
    }
  },
  "plugins": [
    ["module-resolver", {
      "root": ["./src", "."],
      "alias": {
        "assets": "./dist/assets"
      }
    }]
  ]
}
