{
    "presets": ["@babel/preset-env", "module:metro-react-native-babel-preset"],
    "env": {
        "test": {
          "plugins": ["istanbul"]
        }
    },
    "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-transform-runtime",
        ["module-resolver", {
            "root": ["."],
            "alias": {
                "@support": "./e2e/support"
            }
        }]
    ]
}
