{
    "all": true,
    "include": [
      "../**/*.js",
      "../**/*.jsx",
      "../**/*.ts",
      "../**/*.tsx"
    ],
    "reporter": ["html", "text", "lcov"],
    "report-dir": "./coverage",
    "temp-directory": "./.nyc_output",
    "extension": [".js", ".jsx", ".ts", ".tsx"]
  }