<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>697703542608-4gs8nl3b2av2vts16is8j5a8484r2tat.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.697703542608-4gs8nl3b2av2vts16is8j5a8484r2tat</string>
	<key>API_KEY</key>
	<string>AIzaSyDS3zuMPmN6q_cOlwIxx4DOLI8Y8zAhnPY</string>
	<key>GCM_SENDER_ID</key>
	<string>697703542608</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.handsapp.plenexyMattermost</string>
	<key>PROJECT_ID</key>
	<string>plenexy-30f44</string>
	<key>STORAGE_BUCKET</key>
	<string>plenexy-30f44.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:697703542608:ios:25af4024670c3e874a8655</string>
</dict>
</plist>