---
name: ci
on:
  push:
    branches:
      - main
      - 'release*'
  pull_request:

permissions:
  pull-requests: write

env:
  NODE_VERSION: 22.14.0
  TERM: xterm

jobs:
  test:
    runs-on: ubuntu-22.04
    steps:
      - name: ci/checkout-repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: ci/test
        uses: ./.github/actions/test
      - name: ci/test-coverage
        if: github.event_name == 'pull_request' || github.ref_name == 'main'
        uses: ./.github/actions/test-coverage
        with:
          run_id: ${{ github.run_id }}
