name: Detox E2E Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  e2e-ios:
    runs-on: macos-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          cache: npm
          node-version-file: .node-version

      - name: Configure Xcode Preferences
        run: |
          # Set Xcode's build location
          mkdir -p ~/Library/Developer/Xcode/DerivedData
          defaults write com.apple.dt.Xcode IDECustomDerivedDataLocation -string YES
          defaults write com.apple.dt.Xcode CustomDerivedDataLocation -string "build"
          defaults write com.apple.dt.Xcode CustomDerivedDataLocationType -string 3
  
      - name: Install npm dependencies
        run: |
          npm ci --prefer-offline
          cd detox && npm install && cd ..

      - name: Install macOS dependencies
        run: |
          brew tap wix/brew
          brew install applesimutils
        env:
          HOMEBREW_NO_AUTO_UPDATE: 1
          HOMEBREW_NO_INSTALL_CLEANUP: 1

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Cache CocoaPods
        id: cache-cocoapods
        uses: actions/cache@v3
        with:
          path: ios/Pods
          key: ${{ runner.os }}-pods-${{ hashFiles('ios/Podfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-pods-

      - name: Install CocoaPods
        if: steps.cache-cocoapods.outputs.cache-hit != 'true'
        run: cd ios && pod install && cd ..

      - name: Detox rebuild framework cache
        run: npx detox rebuild-framework-cache

      - name: Cache Detox build
        id: cache-detox-build
        uses: actions/cache@v3
        with:
          path: ios/build
          key: ${{ runner.os }}-detox-build
          restore-keys: |
            ${{ runner.os }}-detox-build

      - name: Detox build
        run: npx detox build -- --configuration ios.sim.release

      - name: Detox test
        run: npx detox test -- --configuration ios.sim.release --cleanup --headless --record-logs all

      - name: Upload artifacts
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: detox-artifacts
          path: artifacts
  